{% extends "back/navbar.html.twig" %}

{% block body %}

    

<div class="p-5 h-screen bg-gray-100">
<h1 class="text-xl mb-2 flex justify-center p-12 capitalize font-semibold tracking-wide">User index</h1>
<div class="p-6">
    <a class="border-4 border-gray border-dotted-800" href="{{ path('back_user_new') }}">New User</a>
</div>
<div class="overflow-auto rounded-lg shadow">
    <table class="w-full">
        <thead class="bg-gray-50 border-b-2 border-gray-200">
            <tr class="bg-gray-300">
                <th class="p-3 txt-sm font-semibold tracking-wide text-left">Id</th>
                <th class="p-3 txt-sm font-semibold tracking-wide text-left">Email</th>
                <th class="p-3 txt-sm font-semibold tracking-wide text-left">Firstname</th>
                <th class="p-3 txt-sm font-semibold tracking-wide text-left">Lastname</th>
                <th class="p-3 txt-sm font-semibold tracking-wide text-left">Roles</th>
                <th class="p-3 txt-sm font-semibold tracking-wide text-left">actions</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-100">
        {% for user in users %}
            <tr class="bg-white">
                <td class='p-3 text-sm text-gray-700'> {{ user.id }}
                    <a href="{{ path('back_user_show', {'id': user.id}) }}" class="font-bold text-blue-500 hover:underline" ></a>
                </td>
                <td class='p-3 text-sm text-gray-700'>{{ user.email }}</td>
                <td class='p-3 text-sm text-gray-700'>{{ user.firstname }}</td>
                <td class='p-3 text-sm text-gray-700'>{{ user.lastname }}</td>
                <td class='p-3 text-sm text-gray-700'>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a class="border-2 border-gray" href="{{ path('back_user_show', {'id': user.id}) }}">show</a>
                    <a class="border-2 border-gray" href="{{ path('back_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr class ="bg-gray-500">
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
    
{% endblock %}
