{% extends "back/navbar.html.twig" %}


{% block body %}

<div class="p-5 h-screen bg-gray-100">
    <h1 class="text-xl mb-2 flex justify-center p-12 capitalize font-semibold tracking-wide">Product index</h1>
    <div class="p-6">
    <a class="border-4 border-gray border-dotted-800" href="{{ path('back_product_new') }}">New Product</a>
</div>
<div class="overflow-auto rounded-lg shadow">
    <table class="w-full">
        <thead class="bg-gray-50 border-b-2 border-gray-200">
            <tr class="bg-gray-300">
                <th class="p-3 txt-sm font-semibold tracking-wide text-left">Id</th>
                <th class="p-3 txt-sm font-semibold tracking-wide text-left">Name</th>
                <th class="p-3 txt-sm font-semibold tracking-wide text-left">actions</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-100">
        {% for product in products %}
            <tr class="bg-white">
                <td class='p-3 text-sm text-gray-700'>{{ product.id }}</td>
                <td class='p-3 text-sm text-gray-700'>{{ product.name }}</td>
                <td class='p-3 text-sm text-gray-700'>
                    <a class="border-2 border-gray" href="{{ path('back_product_show', {'id': product.id}) }}">show</a>
                    <a class="border-2 border-gray" href="{{ path('back_product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
