{% extends "back/navbar.html.twig" %}


{% block body %}

<div class="p-5 h-screen bg-gray-100">
<h1 class="text-xl mb-2 flex justify-center p-12 capitalize font-semibold tracking-wide">Genre index</h1>
<div class="p-6">
    <a class="border-4 border-gray border-dotted-800" href="{{ path('back_genre_new') }}">New Genre</a>
</div>
<div class="overflow-auto rounded-lg shadow">
    <table class="w-full">
        <thead class="bg-gray-50 border-b-2 border-gray-200">
            <tr class="bg-gray-300">
                <th class="p-3 txt-sm font-semibold tracking-wide text-left">Id</th>
                <th class="p-3 txt-sm font-semibold tracking-wide text-left">Label</th>
                <th class="p-3 txt-sm font-semibold tracking-wide text-left">Value</th>
                <th class="p-3 txt-sm font-semibold tracking-wide text-left">actions</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-100">
        {% for genre in genres %}
            <tr class="odd:bg-white even:bg-slate-100">
                <td class='p-3 text-sm text-gray-700'>{{ genre.id }}</td>
                <td class='p-3 text-sm text-gray-700'>{{ genre.label }}</td>
                <td class='p-3 text-sm text-gray-700'>{{ genre.value }}</td>
                <td>
                    <a class="border-2 border-gray" href="{{ path('back_genre_show', {'id': genre.id}) }}">show</a>
                    <a class="border-2 border-gray" href="{{ path('back_genre_edit', {'id': genre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
